.dashboard {
    float: left;
    width: 800px;
    height: 500px;
    background-color: #EFEFEF;
}
.draggable {
    float: right;
    width: 300px;
    height: 200px;
    background-color: #CCC;
    margin: 5px;
}
.available-widgets {
    float: right;
    width: 310px;
    height: 630px;
    background-color: #DDD;
}
.over {
    border: 1px solid #CCC;
}
